# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

# vscode
.vscode

# Local source/export drafts
meshy-download-selected.user.js
public/parallax/* ok.svg
src/assets/3d/*
!src/assets/3d/cyborgwolf.glb
src/assets/herobg.jpeg
src/assets/herobg.svg
src/assets/projbg-vert.jpg
src/assets/projbg.jpg
